		<!--<div class="container bottom">-->
		<!--	<div>Created by <span class="red"><a href="http://www.quangthuyhoang.com" target="_blank">Quang-Thuy Hoang</a></span> -->
		<!--	<a href="http://linkedin.com/in/quang-thuy-hoang-525b611b" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> -->
		<!--	<a href="https://github.com/averageAZNguy" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i><a/>-->
		<!--	<a href="https://www.freecodecamp.org/averageaznguy" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a></div>-->
		<!--</div>-->
		

	</body>
	

</html>