<% include partials/header %>
<div class="jumbotron theme-banner">
    <h1>About</h1>    
</div>
<div class="container about">

	<p>Hi there. Welcome to AskQuestions! If you have a random question you've been super curious to ask your friends and random people on the internet, then go ahead and try and ask some questions. If you want to ask a question, please sign up. If you already have a github account you can login through your own github account. From there, you can create and ask your very own questions and share the link with your friends. They can submit their response and you both can see the final result. Anyone can vote, even if you don't have an account. But only registered users can ask questions. Account holders can also add their own answers to submited questions.</p>


</div>




<% include partials/footer %>