<% include partials/header %>
<div class="container">
    <h1><%=polls.question%></h1>    
</div>

<div class="container">
    
      <canvas id="myChart" ></canvas>  
  <a class="btn btn-lg" href="/main/<%=polls._id%>" >View Question</a>
</div>


<% include scripts/chart-script %>

<% include partials/footer %>