<% include partials/header %>
<div class="container">
    <h1><%=polls.question%></h1>    
</div>

<div class="container">
    
      <canvas id="myChart" ></canvas>  
  
</div>

<script>
    // CREATE BAR CHART
    var ctx = $('#myChart');

   var Poll = <%-JSON.stringify(polls)%>;
    var data = [];
    var bgColor = [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ];
    var bdColor =  [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ];
    for(var i = 0; i < Poll.choices.length; i++){
        if(i => bgColor.length){
            n = i%bgColor.length;
            var bgC = bgColor[n];
            var bdC = bdColor[n];
        } else {
           var bgC = bgColor[i];
           var bdC = bdColor[i];
        }
        var c = {label: Poll.choices[i].answer, data: [Poll.choices[i].count],
        backgroundColor: bgC,
            borderColor: bdC,
        borderWidth: 1};
        data.push(c);
    }
    // CHART CONFIGURATION USING CHARTJS
    var myChart = new Chart(ctx, {
    type: 'bar',
    responsive: true,
    data: {
        // labels: [Poll.question],
        datasets: data
    },
        options: {
            legend : {
                display: true,
                labels: {
                    fontColor: "#000080",
                },
                position: 'bottom'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>
<% include partials/footer %>