<% include partials/header %>
<div class="jumbotron theme-banner">
    <h1>MAIN PAGE</h1>    
</div>
	<div class="container">

	<div class="row">
		<% polls.forEach(function(poll){ %>
		
		<div class="item well">
			<a href="/main/<%=poll._id%>"><p><%=poll.question%></p></a>
		</div>
		<% }) %>

	</div>

		</div>

<% include partials/footer %>