<% include partials/header %>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<div class="jumbotron theme-banner">
    <h1>Create your own personal question and see how the internet responds!</h1>    
</div>
<br>
<div class="container basic-box">
    <button class="btn" id="addchoice">Add choice</button>
<form action="/main" method="POST">
    <div id="form-group">
        <ul>
         
        <form-group>
            <label for="title">Poll Question</label>
            <input type="text" maxlength="200" class="form-control" name="poll[subject]" placeholder="Pick your favorite starter Pokemon!" required>
        </form-group>
    
             <!--<div>-->
        <li>
        <form-group class="row">
            <!--<label for="choice3">Option 1</label>-->
            <div class="col-md-8">
                <input type="text" maxlength="50" class="form-control col-xs-8" name="choice[1]" placeholder="choice1" required>
            </div>
            <!--<span class="delete col-md-4">X</span>-->
        </form-group>
        </li>
       
        <li>
        <form-group class="row">
            <!--<label for="choice3">Option 3</label>-->
            <div class="col-md-8">
                <input type="text" maxlength="50" class="form-control col-xs-8" name="choice[2]" placeholder="choice2" required>
            </div>
            <!--<span class="delete col-md-4">X</span>-->
        </form-group>
        </li>
       <!--<li>-->
       <!-- <form-group class="row">-->
            <!--<label for="choice3">Option 3</label>-->
       <!--     <div class="col-md-8">-->
       <!--         <input type="text" class="form-control col-xs-8" name="choice[3]" placeholder="choice3" >-->
       <!--     </div>-->
       <!--     <span class="delete col-md-4">X</span>-->
       <!-- </form-group>-->
       <!-- </li>-->
    </ul>
    <!--</div>-->
     <br>
          <br>
    <input  class="btn btn-block theme-bright" type="submit">
</form>
<a href="/main">Go Back</a>
</div>

<script>
 
    // Add more options
      $('#addchoice').on('click', function(){
          var formgroup = $('form-group');
           var number = formgroup.length;
           var newForm = '<li><form-group class="row"><div class="col-md-8"><input type="text" maxlength="50" title="delete" class="form-control" name="choice['+number+']" placeholder="choice'+number+'" required></div><span class=" glyphicon glyphicon-remove"></span></form-group></li>';
           $('ul').append(newForm);
      });
      
    // REMOVE OPTIONS
    $('ul').on('click', 'span', function(event){
        $(this).parent().fadeOut(500, function(){
            $(this).parent().remove();
            
             // RENAME & REORDER ELEMENTS
        var formgroup = $('ul form-group div input');
           for(var i =0; i < formgroup.length; i++){
               var n = i + 1;
               formgroup[i].name = 'choice['+ n +']';
               formgroup[i].placeholder = 'choice'+ n;
           }
        });
        event.stopPropagation();  
    });
    tippy('.delete', {
			  position: 'bottom',
			  animation: 'scale',
			  inertia: true,
			  size: 'big',
			  arrow: true
			});
</script>
    


<!--<script type="text/javascript" src="controllers/clickController.client.js"></script>-->
<!--<script type="text/javascript" src="/app/controllers/addChoiceController.client.js"></script>-->
<% include partials/footer %>